<form [formGroup]="form" (ngSubmit)="submit()">

  <input type="text" placeholder="First Name" formControlName="firstName">
  <input type="text" placeholder="Last Name" formControlName="lastName">
  <input type="text" placeholder="UserName" formControlName="username">
  <input type="email" placeholder="Login" formControlName="email">
  <input type="tel" placeholder="Phone number" formControlName="phone">
  <input type="password" placeholder="Password" formControlName="password">
  <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
  <input type="number" placeholder="Age" formControlName="age">

  <button>Confirm update</button>

</form>

<button (click)="delete()">Delete Account</button>
