<h1>QUIZ</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Number of Questions</mat-label>
    <input matInput type="number" placeholder="Number of Questions" [min]="1" [max]="50" formControlName="amount">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Category:</mat-label>
    <mat-select formControlName="category">
      <mat-option [value]="''">Any Category</mat-option>
      <mat-option [value]="9">General Knowledge</mat-option>
      <mat-option [value]="10">Entertainment: Books</mat-option>
      <mat-option [value]="11">Entertainment: Film</mat-option>
      <mat-option [value]="12">Entertainment: Music</mat-option>
      <mat-option [value]="13">Entertainment: Musicals &amp; Theatres</mat-option>
      <mat-option [value]="14">Entertainment: Television</mat-option>
      <mat-option [value]="15">Entertainment: Video Games</mat-option>
      <mat-option [value]="16">Entertainment: Board Games</mat-option>
      <mat-option [value]="17">Science &amp; Nature</mat-option>
      <mat-option [value]="18">Science: Computers</mat-option>
      <mat-option [value]="19">Science: Mathematics</mat-option>
      <mat-option [value]="20">Mythology</mat-option>
      <mat-option [value]="21">Sports</mat-option>
      <mat-option [value]="22">Geography</mat-option>
      <mat-option [value]="23">History</mat-option>
      <mat-option [value]="24">Politics</mat-option>
      <mat-option [value]="25">Art</mat-option>
      <mat-option [value]="26">Celebrities</mat-option>
      <mat-option [value]="27">Animals</mat-option>
      <mat-option [value]="28">Vehicles</mat-option>
      <mat-option [value]="29">Entertainment: Comics</mat-option>
      <mat-option [value]="30">Science: Gadgets</mat-option>
      <mat-option [value]="31">Entertainment: Japanese Anime &amp; Manga</mat-option>
      <mat-option [value]="32">Entertainment: Cartoon &amp; Animations</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Select Difficulty:</mat-label>
    <mat-select formControlName="difficulty">
      <mat-option [value]="''">Any Difficulty</mat-option>
      <mat-option [value]="'easy'">Easy</mat-option>
      <mat-option [value]="'medium'">Medium</mat-option>
      <mat-option [value]="'hard'">Hard</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Select Type:</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="''">Any Type</mat-option>
      <mat-option [value]="'multiple'">Multiple Choise</mat-option>
      <mat-option [value]="'boolean'">True / False</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary">Start quiz</button>
</form>
