<h1>Charts!</h1>

<h6>Statistics of added question to favourite:</h6>

<small>Categories, Types, Difficulties</small>

<div class="wrapper">
  <div echarts title="Categories" class="chart" [options]="pieChartCategoryOptions">
    <mat-spinner color="warn"></mat-spinner>
  </div>

  <div echarts title="Types" class="chart" [options]="pieChartTypeOptions">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <div echarts title="Difficulties" class="chart" [options]="pieChartDifficultyOptions">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
